<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Pied Piper LTI1.3 Example</title>
</head>

<body class='bg-light'>
  <div class='text-center my-5'>
    <h1 class='mb-5'>Test LTI Tool</h1>
    <p>See how the Pied Piper LTI Library works.</p>
    <p>A Grader Tool is used as an example Tool.</p>
    <button id='get-token' class='mr-5 mt-5 bg-info p-2'>Get Token</button>
    <button id='launch-tool' class='bg-info p-2'>Launch Tool</button>
  </div>
  <hr />
  <div class='text-center card mt-5 mx-5'>
      <h4 class='card-header bg-info'>Your Token</h4>
      <p id='token'>Press 'Get Token' to generate a token!</p>
  </div>
</body>

<script>
  document.getElementById('get-token').addEventListener('click', async _ => {
    fetch('http://localhost:3000/oauth2/token', {
      'method': 'post',
      'headers': { 'content-type': 'application/json' },
      'body': JSON.stringify({
        'grant_type': 'client_credentials',
        'client_id': 'UbmzixiGkT1IkTp',
        'client_secret': '-----BEGIN RSA PRIVATE KEY-----\nMIIEpQIBAAKCAQEAy5CSU1VCiTdrRJnYNXoO91NE5NZYr1tyjsbvghaoabyzm4D9sp40QHReFb1OBZZZAwJYc9o+LRYU83/o5mDwlzyoYpz63wzNbXLF6kYK3JqP93mMXKJAs8q1EThuZCqc4RZAFI/QhMmqovLpKnEHSl8XPgxZOch2vQa14+3XaZdAgbUxfT6x08mFg71X/oNhNxhShiSLJ6xtKxC4+IDtAOlveIdvlfC50LVcMBbZahSo+j/MBVxdDDgTnMpxM3NsI+9aib9uzBjR4Lf43+OCrEOabg9nQbCZ2F2SAr/2+Ubl3ZJe/US4jkhfTbSClQZuSVNmNM+lMGxgXsZiCbzf1QIDAQABAoIBAQCQJRxoY/xMe/C6UBI4s+i7G7yyKlH8Qk4ZaicZQAAbd6LbH3kGLV6ksYIZ9MW10SPQrK2Dw+u5M2S8lDuQPt6+yRYXVj+TCFbDBL2+ycBRPCVrwScyRTZ52bVjr0kEJuSVwpK3vKqUDNWGs2mGQyk9cZ5cspPQBfKGoaTU9ItP2aXQzMY/+KLl46gmu5SK2igEaNIsNi1k41yRw7Sa7RDIH9jdWHlcl7WKxjHlIv21E9p2RUH8vqvNeH8joVH3IyS1w5F6mxaQrHjRp9RlXAkrIrDttn7bJ3jE55AxgvoYC8P3tV+wq/uqCJE+smfkH/umi2CPHzE0OMyQB7n9REh1AoGBAPKE9yZChjOPsf0cTQwnbZEIMZV4K3r+xYDV2kDa1NfEFooo9jsg34n/OMyC6xTgGYE98/10id/unAMNsLlX4PAelc3doBNRUt/bVFoNVHaw2JsghJ6qXm8Uj8rQgcXVOMhXoAQusUOyeL+2PyBhPt193EpNqYpKARx0Zi3waG7bAoGBANbhSLAAGpvaZPulLJ0pI1AF2sf+UifCNFOwByRS3PzPVKWzNU8EuDTUfpUCTQKuU1qmu+jx9moBi8bhkXh7kGOZqv95L7UATZ/Ql/F5S53oH1E6+iEPR2vn83XNHXzCeHuPED2MMugL85KCweMvG5v9fOf6z4ovknR+dOl5FnMPAoGBAKUKyAdJjnrYd5CBCg4TZwUkRloqBa0WZOJgpr8sLV0JHS244pkqrfYDsmu7TLBQMgs6VilOfeXfRFzvnC0GGRZQOjJ3eNCsr3GYmbcPC0Qa5c3sO1SfLNT7cT/c1fQEPzhYKZWvEQO5GWOeaydmBppFZP1MDO0Hn+n1bPQmf2uxAoGBAK0Dd6M+ci5LCkQUGnfwR56HGEEvZLbeh4NamGWG0qg7x8wjHykgg7EF52XTFG60LikvVt2Y9O8lj4Xy2U5JL1kCwcwxp1f1horHSZAEOf5Kh+y/r+YuhzM676xKGxP5AUl7R3hHCjYMaXHuFm713yUaVRfzumdpJmLl7vyNoqXBAoGATG1CDbTdDX/9Pq7RI34by/16IKropqYeb8rWINtp08sIqGYo68EGohP5SDbeyP12pG4idV+6IsY8twv5bz/uhG/HWXQOeGWea8d2lcxQnfirlOVkfdux7CJisdFX4ANcwKNGWrvreFwRch44ZjnT7O4vlQ+ETzb4KXiHFmvjY9A=\n-----END RSA PRIVATE KEY-----'
      })
    })
    .then(function(response) {
      return response.json();
    })
    .then(res => {
      document.getElementById('token').innerHTML = res.jwt;
    })
    .catch(err => {
      console.error(`Error: ${err}`);
    });
  });

  document.getElementById('launch-tool').addEventListener('click', async _ => {
    fetch('http://localhost:3000/project/submit', {
      method: 'post',
      headers: {
          Authorization: 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjbGllbnQxMjM0NSIsImV4cGlyZXNfaW4iOjM2MDAsInRva2VuX3R5cGUiOiJiZWFyZXIiLCJzY29wZSI6Imh0dHBzOi8vcHVybC9pbXNnbG9iYWwub3JnL3NwZWMvbHRpL3YxcDMvc2NvcGUvZ3JhZGluZy5hbGwiLCJpYXQiOjE1NjM1MDQ2Mzl9.BhW9-m_jq7RgCU3MqN5rfHCQmvXenbmUUTGGrNQ0lyllbSjaC5Kgfs7TudQBhHAH4aQh7ITVrw0o6LCn94k41hsmZz6F2NyLJikMsnCu658_0X9UnXro3egiR-IKcIMyJ6y3F8AdVeB_GRLyjg8xThdS5oXYg1phmdkrhsTNLuWViyBex7lXVgypruABft9fNzlXxj5Nh8BUlH9_rY5Fxqb3HLCf1ZmKhPhvDjjYKj06ja4q_tI0wdIvcBIRvSffe9zWAko8iRQ1IeB_7MOLX9CBSa4JSsUfFnBq7GYCX5m9qjp_Bs9knSCaNhvriGyz3nA97sGOkg8M-3nwu4u_wQ',
          'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        'sub': 'a6d5c443-1f51-4783-ba1a-7686ffe3b54a',
        'https://purl.imsglobal.org/spec/lti/claim/deployment_id': '07940580-b309-415e-a37c-914d387c1150',
        'https://purl.imsglobal.org/spec/lti/claim/message_type': 'LtiResourceLinkRequest',
        'https://purl.imsglobal.org/spec/lti/claim/version': '1.3.0',
        'https://purl.imsglobal.org/spec/lti/claim/roles': 
          [ 'http://purl.imsglobal.org/vocab/lis/v2/institution/person#Student',
            'http://purl.imsglobal.org/vocab/lis/v2/membership#Learner',
            'http://purl.imsglobal.org/vocab/lis/v2/membership#Mentor' ],
        'https://purl.imsglobal.org/spec/lti/claim/tool_platform': {
            'url': "https://platform.example.edu",
          },    
        'https://purl.imsglobal.org/spec/lti/claim/resource_link': 
          { id: '200d101f-2c14-434a-a0f3-57c2a42369fd',
            description: 'Assignment to introduce who you are',
            title: 'Introduction Assignment' },
        'https://purl.imsglobal.org/spec/lti/claim/context': {
          id: 'random-id-with-cha.dfokasdf',
          label: 'react100',
          title: 'React for Beginners',
          type: [ 'http://purl.imsglobal.org/vocab/lis/v2/course#CourseOffering' ]
        },
        "https://purl.imsglobal.org/spec/lti-ags/claim/endpoint": {
          scope: ["https://purl.imsglobal.org/spec/lti-ags/scope/score"],
          "lineitems": "https://www.myuniv.example.com/2344/lineitems/",
          "lineitem": "https://www.myuniv.example.com/2344/lineitems/1234/lineitem"
        },
        given_name: 'Joe',
        family_name: 'Schmoo',
        name: 'Joe Schmoo',    
        'client_id': 'UbmzixiGkT1IkTp',
        'redirect_uri': 'redirect uri',
        'response_type': 'response type',
        'scope': 'scope'
        })
      })
      .then(function(response) {
        return response.json();
      })
      .then(res => {
        window.location.href = "/project/submit"; 
      })
      .catch(err => {
        console.error(`Error: ${err}`);
      });
  });
</script>
</html>