<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Get Public Key</title>
  </head>

  <body>
    <div class='text-center card mb-5 my-5'>
      <p> Copy and paste the whole public key including '-----BEGIN-----...' and '-----END-----' into the external tool configureation settings on your platform.
      <h6 class='card-header border-warning'>Your Public Key</h6>
      <p class='text-center'> <%= key %> </p>
    </div>
  </body>
</html>