<!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Project Submission: </title>
    </head>

    <body>
      <div>
        <h1>Ooo, a piece of <%= candy %>.</h1>
      </div>

    </body>

  </html>