<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <title>Project Submission: </title>

</head>

<body>

  <div class="text-center">
    <h1>Project Submission form + </form> <%= candy %>. if you get a good grade</h1>
  </div>

  <div class="container col-sm-5">
    <form>
      <div class="form-group">
        <label>Enter Github URL</label>
        <input type="url" class="form-control" placeholder="Enter github url here" id="github" required>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Enter Heroku/Now URL</label>
        <input type="url" class="form-control" placeholder="Enter heroku/now url here" required>
      </div>


      <div class="alert alert-success" id="success-alert" style="display: none">
        <strong>Congrats! your project was submitted successfully</strong>
      </div>


      <button type="submit" class="btn btn-primary" id="test">Submit</button> <button type="button"
        class="btn btn-danger" id="cancel">cancel</button>

    </form>
  </div>

  <script>
    var x = document.getElementById("test");
    if (x.addEventListener) {
      x.addEventListener("click", myFunction);
    } else if (x.attachEvent) {
      x.attachEvent("onclick", myFunction);
    }

    function myFunction() {
      document.getElementById("success-alert").innerHTML = "Congrats! your project was submitted successfully";
      document.getElementById("success-alert").style.display = "block";
    }

  </script>
</body>

</html>