<!DOCTYPE html>
  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Project Submission: </title>
    </head>

    <body>

      <div>
        <h1>Ooo, a piece of <%= food %>.</h1>
      </div>

      <form action='/project/submit/projectname' method='POST'>
        <label for='github' >enter your github url:</label>
        <input id='github' name='github'>
        <input type='submit'>
      </form>

      <% if(formData!=null){ %>    
        <div>
          <p>url: <%= formData.url %> </p>
          <p>urlStatus: <%= formData.urlStatus %> </p>
          <p>grade: <%= formData.grade %></p>
        </div>
      <% } %>


    </body>

  </html>